@import "../../constant/constant.scss";

.form-search {
    .search-input{
        padding-right: 30px;
        border-radius: 17px;
        border: solid 1px #b7b7b7;
        width: 181px;
        height: 35px;
    }
    .search-input:focus{
        outline-width: 0;
    }

    .search-button{
        display: inline;
        margin-left: -30px;
        background-color: transparent;
            object-fit: contain;
        opacity: 0.6;
        border: none;
    }
}