@import "../../constant/constant.scss";

.header-bar{
    height: 100px;
}

.line{
    @include line;
}
  
  .dropdown-user {
    display: inline-block;
    margin-left: 20px;
    .dropdown-content-ava {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 50px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
      }
      .user-name {
        margin: auto;
        margin-left: 100px;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
  }
    
  .dropdown-user:hover{
       .dropdown-content-ava {
            display: block;
       }
  }

  .wrapped-ava{
      position: relative;
      margin: 0;
      padding: 0;
  }

  .cart {
    background-image: url(../../cart.png);
    height: 24px;
    width: 24px;
    display: block;
    float: right;
    position: relative;
}

.number-cart{
  margin-left: 35%;
  position: absolute;
  color: white;
  background-color: $pale-orange;
  border: solid 1px $pale-orange;
  border-radius: 20px;
  font-size: 13px;
  width: 20px;
  height: 20px;
  top: -10px;
}

.mail{
  @extend .cart;
  background-image: url(../../mail.png);

}

.notify{
  @extend .cart;
  background-image: url(../../notification.png);
}

.number-mail{
  @extend .number-cart;
  background-color: red;
}

.number-notify{
  @extend .number-cart;
  background-color: red;
}