$pale-orange: #ffa15f;
$white: #ffffff;
$black: #000000;

@mixin line {
    border: solid 1px #ececec;
}

input {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

#root{
    height: 100%;
}