$pale-orange: #ffa15f;
$white: #ffffff;
$black: #000000;

@mixin line {
    border: solid 1px #ececec;
}

input {
    outline: none !important;
}

a {
    text-decoration: none !important;
}

button {
    outline: none !important;
}

div {
    outline: none !important;
}

#root{
    height: 100%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.pale-orange {
    background-color: $pale-orange;
}

.charcoal-grey {
    background-color: rgba(61, 61, 63, 0.5);
}

.white-three {
    background-color: rgba(237, 237, 237, 0.5);
}