@import "../../constant/constant.scss";

.bttn-login{
    border-radius: 100px;
    border: solid 1px $pale-orange;
    color:$pale-orange;
    width: 120px;
    height: 35px;
    :focus{
      outline-width: 0;
    }
    float: right;
}

.bttn-login:focus{
  outline-width: 0;
}

.bttn-register{
  width: 59px;
  height: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  border: none;
  color: #4d4d4d;
}

.bttn-register:focus{
  outline-width: 0;
}

.bttn-login-sub{
  width: 100%;
  height: 50px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: $pale-orange;
  color: white;
}

.bttn-login-sub:focus{
  outline-width: 0;
}

.register{
  width: 62px;
  height: 22px;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #ff7413;
  background: none;
  border: none;
}

.register:focus{
  outline-width: 0;
}

.plus-bttn{
  background-image: url('../plus.png');
  background-size: cover;
  width: 32px;
  height: 100%;
  border: none;
  position: absolute;
  left: 105px;
  
}

.minus-bttn{
  background-image: url('../minus.png');
  background-size: contain;
  width: 32px;
  height: 90%;
  border: none;
  position: absolute;
  left: 0px;
  top: 2px;
}

.plus-bttn:focus{
  outline-width: 0;
}

.minus-bttn:focus{
  outline-width: 0;
}

.bttn-cart{
  width: 429px;
  height: 50px;
  box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
  background-color: #5f6dff;
}

.bttn-account{
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  border: none;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.83;
  letter-spacing: normal;
  text-align: left;
}

.bttn-logout{
  @extend .bttn-account;
}

.bttn-login-admin{
  @extend .bttn-login;
  width: 100%;
  border-radius: 0;
  background-color: $pale-orange;
  color: white;
  height: 50px;
}