@import "../../../constant/constant.scss";

@mixin product-fix {
  display: flex;
  width: 20%;  
  height: 100%;
}

@mixin default-content{
  margin: auto;
  font-size: 13px;
}

body{
  background-color: #f6f6f6;
  height: 100vh;
}

.admin{
    background-image: url(../../admintheme.png);
    height: 100%;
    position: relative;
}

.admin-modal-login{
    width: 30%;
    height: 70%;
    left: 35%;
    top: 15%;
    position: absolute;
    opacity: 0.8;
  border-radius: 2px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: rgba(61, 61, 63, 0.8);
}

.sortBy{
  width: 15%;
  margin-left: 30px;
  height: 18px;
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #acacac;
}

.wrapped-top-products{
  display: flex;
}

.wrapped-sortBy{
  display: flex;
  width: 100%;
}

.wrapped-form{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.wrapped-export{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  .export-bttn{
    height: 100%;
    width: 100%;
    padding-left: 30px;
    background-color: white;
    border: solid 1px #ededed;
    color: $pale-orange;
  }
  .img-export{
    height: 50%;
    width: 100%;
    margin-top: 8px;
    margin-right: -25px;
  }
}

.add-product-admin{
  background-color: $pale-orange;
  border-radius: 2px;
  height: 100%;
  color: white;
}

.main-product-admin{
  margin: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  .title--field{
    display: flex;
    margin-bottom: 0px;
    margin-left: 20px;
    justify-content: space-around;
    width: 100%;
    .content-title-field{
      width: 20%;
      text-align: center;
      margin: 20px;
      color: #acacac;
    }
    .content-title-field-product{
      width: 20%;
      text-align: left;
      margin: 20px;
      color: #acacac;
    }
  }


  .footer-product-admin{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-right: 50px;
    .entries-product{
      margin-top: auto;
    }
    .option-paging{
      display: flex;
      width: 53%;
      .pagination-admin{
        width: 90%;
        margin-left: 10px;
      }
    }
  }


  .product-item-admin{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-left: 20px;
    height: 10%;
    margin-top: 15px;
    .product-field{
      @include product-fix;
      .wrapped-detail{
        display: flex;
        padding-top: 10px;
        font-size: 13px;
        flex-direction: column;
        align-self: center;
        .title-product{
          font-weight: bold;
        }
      }
      .item-img{
        object-fit: cover;
        height: 100%;
        margin-right: 20px;
        width: 20%;
      }
    }
    .sold-field{
      @include product-fix;
      .sold-product{
        @include default-content;
      }
    }
    .date-field{
      @include product-fix;
      .date-product{
        @include default-content;

      }
    }
    .profit-field{
      @include product-fix;
      .profit-product{
        @include default-content;

      }
    }
    .action-field{
      @include product-fix;
      position: relative;
      .action-product{
        @include default-content;
        width: 50%;
        height: 50%;
        border: none;
        background-color: none;
        .dropdown-action{
          background-color: pink;
          width: 110px;
          height: 100px;
          flex-direction: column;
          z-index: 3;
          position: absolute;
          left: 55px;
          top: 60px;
          display: none;
          box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.08);
          .edit-bttn{
            border: none;
            height: 50%;
          }
          .remove-bttn{
            border: none;
            height: 50%;
          }
        }
      }

      .action-product:hover{
        .dropdown-action{
          display: flex;
        }
      }
    }
  }
}