@import "../../constant//constant.scss";

.quick-shop {
	position: absolute;
	width: 180px;
	top: 219px;
	left: 30px;
	margin-bottom: -100px;
	height: 70px;
	padding-top: 20px;
	background-color: $pale-orange;
	text-align: center;
	opacity: 0;
	transition: opacity .4s ease;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.57;
	letter-spacing: normal;
	color: white;
}

.container-item {
	width: 20%;
	padding-left: 30px;
	padding-top: 20px;
	position: relative;
}

.product-img {
	transition: transform 0.4s;
}

.container-item:hover {
	.product-img {
		transform: scale(1.1);
		transform-origin: 50% 50%;
	}

	.quick-shop {
		opacity: 1;
		text-decoration: none;
		color: white;
	}
}

.cart-color{
		height: 25px;
		width: 25px;
		border-radius: 50%;
}

.product-label{
	line-height: 1.5em;
	height: 4.5em;
	text-overflow: ellipsis;
	overflow: hidden;
	margin: auto;
	font-weight: bold;
}

.cart-img{
	object-fit: cover;
	height: 110px;
	width: 100%;
	margin: auto;
	padding-top: 5px;
}

.wrapped-cart-label{
	text-align: center;
	margin: auto;
	.cart-label{
		font-weight: bold;
	}
}

.wrapped-picker{
	.number-picker{
		top: 40%;
		margin: auto;
	}
}

.price-product-cart{
	width: 50%;
	height: 20%;
	top: 40%;
	left: 25%;
	text-align: center;
}

.cart-size{
	color: black;
	font-size: 30px;
	width: 40%;
	height: 30%;
	text-align: center;
	top: 35%;
	left: 30%;
}

.bttnmodify-cart{
	border: none;
	padding-top: 35px;
	font-size: 11px;
	margin-left: -23px;
	width: 10px;
}