.wrapped-total-box{
    background-color: #f9f9f9;
    .wrapped-left{
        text-align: left;
        .detail-checkout{
            margin-left: 5px;
            font-size: 13px;
        }
        .subtotal-checkout{
            margin-left: 5px;
            font-weight: bold;
            padding-top: 10px;
        }
    }
    .wrapped-right{
        text-align: right;
        .detail-checkout{
            margin-right: 10px;
        }
        .subtotal-price{
            margin-right: 10px;
            padding-top: 10px;
            font-weight: bold;
        }
    }
}

.check-out-bttn{
    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.12);
    background-color: #ff5f6d;
    width: 100%;
    color: white;
    height: 40px;
}