@import "../../constant//constant.scss";

.number-picker{
    border: solid 1px #d4d3d3;
    position: relative;
    height: 32px;
    width: 140px;
}


.quantity-input{
    border: none;
    height: 80%;
    position: absolute;
    left: 32px;
    width: 65px;
    padding-top: 8px;
}
