@import "../../constant/constant.scss";

.category {
	position: absolute;
	left: 40%;
	top: 60%;
	color: white;
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	text-align: center;
}

.line-white {
	border: solid 1px white;
	left: 10%;
	top: 70%;
	width: 80%;
	position: absolute;
}

